* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgba(0, 0, 0, 0.096);
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.books-container {
  width: 600px;
  max-width: 100%;
  height: auto;

  text-align: left;
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
}
.headings {
  font-size: 1.5rem;
  font-weight: 400;
}
.btn-books {
  padding: 7px 15px;
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  background-color: rgb(25, 144, 199);
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in;
}
.btn-books:hover {
  background-color: rgb(13, 109, 153);
}
.btn-container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.342);
  padding: 10px 0 20px 0;
}
.my-books-container {
  margin: 15px 0 0 0;
}
.my-books-container ul li {
  margin-bottom: 10px;
  list-style-type: none;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 15px;
}
.book-name {
  font-size: 1.3rem;
}
.author {
  margin: 5px 0;
}
footer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer ul li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.3rem;
}
